.main-form {
  text-align: right;
  margin: 10px;
}
.main-form .header,
.upload-form .header {
  background-color: #2f3944;
  margin: 50px auto;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  width: max-content !important;
  color: #ece8e1;
}

.main-form .header h1,
.upload-form .header h1 {
  margin-top: 10px;
}

.upload-form .file {
  background-color: #fff;
  font-size: 20px;
  margin: 10px auto;
  margin-top: 10%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.2s linear;
  text-align: right;
}

.upload-form .file:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.upload-form .file .custom-file-input:hover {
  cursor: pointer !important;
}

.upload-form .file .custom-file-label {
  margin: 10px;
  border-radius: 10px !important;
  background-color: #edf0f6 !important;
  color: #373636 !important;
  cursor: pointer !important;
}

.upload-form .custom-file-label::after {
  background-color: #2f3944 !important;
  color: #ece8e1 !important;
  font-weight: 500 !important;
  content: 'تصفح' !important;
  padding: 3px !important;
  left: 0 !important;
  right: auto !important;
  border: 2px solid #2f3944 !important;
  width: 4.5em !important;
  text-align: center !important;
}

::-webkit-file-upload-button {
  cursor: pointer;
}

.main-form .person-img {
  border-radius: 50%;
  margin: 20px 16px 16px 16px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 1px 3px 6px 2px #c0c0c0;
}

.main-form .pages {
  position: relative;
}
.main-form .pages .col {
  text-align: center;
  border-radius: 50%;
  margin: 3px;
  max-width: 40px;
  height: 40px;
  background-color: #617689;
  color: #ece8e1;
  font-weight: bold;
  font-size: 1.25em;
  padding: 6px 0px;
  position: absolute !important;
  bottom: 0;
}

.main-form .pages .col:nth-child(1) {
  left: 145px;
}
.main-form .pages .col:nth-child(2) {
  left: 85px;
}
.main-form .pages .col:nth-child(3) {
  left: 25px;
}

.main-form .pages .active-page {
  background-color: #2f3944;
}

.main-form .btn-col {
  text-align: center;
}

.main-form .btn-col .next-btn {
  color: #ece8e1 !important;
  background-color: #2f3944 !important;
  border: 2px solid #2f3944 !important;
  font-size: 1.2em !important;
  width: 40%;
  transition: background-color 0.3s ease-out;
}

.main-form .btn-col .next-btn:hover {
  color: #2f3944 !important;
  background-color: #edf0f6 !important;
  border-color: #2f3944 !important;
}

.main-form .btn-col .submit-btn:hover {
  color: #1d6f42 !important;
  border-color: #1d6f42 !important;
}

.main-form .btn-col .cancel-btn:hover {
  color: #be0707 !important;
  background-color: #edf0f6 !important;
  border-color: #be0707 !important;
}

.main-form .btn-col .next-btn .btn-next,
.main-form .btn-col .next-btn .btn-submit {
  margin-right: 3px;
}

.main-form .btn-col .next-btn .btn-previous {
  margin-left: 3px;
}

.main-form .btn-col .next-btn .btn-submit {
  font-size: 1.2em;
}

/* .swal2-confirm {
  width: 30% !important;
  border-radius: 30px !important;
}

.swal2-deny,
.swal2-cancel {
  border-radius: 10px !important;
}

.swal2-show {
  border-radius: 10px !important;
} */

@media screen and (max-width: 992px) {
  .main-form .header {
    margin-left: 2.1875em;
  }
  .main-form .header h1 {
    margin-top: 10px;
    font-size: 2.27em;
  }

  .main-form .person-img {
    width: 115px;
    height: 115px;
    margin-top: 35px;
  }

  .main-form .btn-col .next-btn {
    width: auto;
  }
}

@media screen and (max-width: 767.98px) {
  .main-form .header {
    margin-bottom: 1.5625em;
    margin-right: 3.75em;
  }
  .main-form .pages .number1 {
    position: absolute !important;
    bottom: 3.125em;
    left: 145px;
  }
  .main-form .pages .number2 {
    position: absolute !important;
    bottom: 3.125em;
    left: 85px;
  }
  .main-form .pages .number3 {
    position: absolute !important;
    bottom: 3.125em;
    left: 25px;
  }
}

@media screen and (max-width: 576px) {
  .file {
    font-size: 1em !important;
  }
  .main-form .header h1,
  .upload-form .header h1 {
    font-size: 2rem;
  }
  .main-form .btn-col .next-btn {
    font-size: 1em !important;
  }
}

/* referees and supervisors */

.form-four,
.form-six {
  text-align: center;
}

.sups-refs-labels {
  font-size: 1.2em;
  line-height: 2.5em;
}

.form-four .section .form-row .col:nth-child(1) {
  max-width: 10%;
}

.form-six .section .form-row .excuse-date-col,
.form-six .section .form-row .excuse-months {
  max-width: 12%;
}

.form-four .section .form-row .col:nth-child(4) {
  max-width: 13%;
}

.form-four .section .form-row .file {
  max-width: 17%;
}

.form-four .section .form-row .col:nth-child(5) {
  max-width: 13%;
}

.form-four .section .form-row .col:nth-child(6) .form-group.sup {
  width: min-content;
}

.form-four .section .form-row .col:nth-child(6) .form-input-sup {
  width: fit-content;
}

.form-four .section .form-row .del-col button,
.form-six .section .form-row .del-col button {
  background-color: #cb0000;
  border: 1px solid #707070;
  font-size: 1.1em;
  width: 70%;
  height: 37px;
  padding-top: 4px;
  transition: all 0.2s ease-in-out;
}

.form-four .section .form-row .del-col button:hover,
.form-six .section .form-row .del-col button:hover {
  background-color: transparent;
  color: #cb0000;
  border: 2px solid #cb0000;
  padding-top: 3px;
}

.form-six .section .form-row .del-col .rep-btn {
  margin-top: 3px;
  width: 67%;
  font-size: 1.2em;
  padding-top: 2px;
}

.form-six .section .form-row .del-col .rep-btn:hover {
  padding-top: 2px;
}

.form-six .section .form-row .del-col .exc-btn {
  width: 80%;
}

.form-six .section .form-row .del-col .pay-btn {
  width: 75%;
}

.form-six .section .form-row .del-col .pay-btn:hover {
  padding-top: 1px;
}

.form-four .section .form-row .ref-rep-date-col {
  max-width: 11%;
}

.form-four .section .form-row .upload-label,
.form-six .section .form-row .upload-label {
  border: 1px solid #8e949b;
  color: #373636;
  background-color: #edf0f6 !important;
  border-radius: 8px;
  font-size: 1.1em;
  padding: 6px 0;
  max-width: 100%;
  width: 100%;
}

.invalid-feedback {
  font-size: 1em !important;
}

/* referees and supervisors */
