.header {
  background-color: #2f3944;
  margin: 45px auto;
  padding: 25px 25px;
  text-align: center;
  border-radius: 10px;
  width: max-content !important;
  color: #ece8e1;
}

.study-types-view {
  text-align: center;
  margin: 0 100px;
}

.study-types-view .studies-form .search-row div {
  margin-bottom: 45px;
}

.section {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.study-type {
  margin: 10px 0 20px 0;
}

.form-input {
  background-color: #fff !important;
  color: #373636 !important;
  border-radius: 10px !important;
  border: 1px solid #8e949b !important;
  font-size: 1.1em !important;
}

.form-input:disabled {
  background-color: #edf0f6 !important;
  border-color: #2f3944 !important;
  opacity: 1;
}

.info {
  color: #373636 !important;
  border-radius: 10px !important;
  border: 1px solid #2f3944 !important;
  font-size: 1.1em !important;
}

.filter-btn {
  color: #ece8e1 !important;
  background-color: #2f3944 !important;
  border: 2px solid #2f3944 !important;
  font-size: 1.2em !important;
  border-radius: 10px !important;
  transition: background-color 0.3s ease-out;
  width: 80%;
  height: 35px;
  vertical-align: middle;
  padding-top: 1px !important;
  margin-top: 3px;
  margin-right: 10px;
}

.filter-btn:hover {
  color: #edf0f6 !important;
  background-color: #000 !important;
}

.search-icon {
  position: absolute;
  left: 17px;
  top: 7px;
}

.was-validated .form-input:valid,
.form-input.is-valid {
  background-image: none !important;
  padding-right: 15px !important;
}

.study-labels {
  font-size: 1.15em;
  line-height: 2.5em;
}

.course-labels {
  margin: 5px 0;
  font-size: 1em;
}

.courses {
  margin-right: 0px !important;
  margin-bottom: 30px;
}

.course {
  margin-bottom: 10px;
}

.view-btn {
  color: #000 !important;
  background-color: #bdbcbc !important;
  height: 35px;
  font-size: 14px !important;
  margin: 2px 4px 0 0;
  border: 1px solid #2f3944 !important;
  border-radius: 10px !important;
  transition: background-color 0.3s ease-out;
  padding-top: 5px !important;
}

.view-btn:hover {
  color: #ece8e1 !important;
  background-color: #2f3944 !important;
  border: 1px solid #2f3944 !important;
}

.icon {
  font-size: 1.7em;
  border: none;
  line-height: 1.2em;
  background: transparent;
  transition: all 0.2s ease-out;
}

.icon svg {
  stroke: black !important;
}

.icon:hover {
  transform: scale(1.25);
}

.icon.edit-icon {
  color: #0b58cc;
  margin-left: 4px;
}

.icon.edit-icon svg {
  stroke-width: 10px !important;
}

.icon.delete-icon {
  color: #ff0000 !important;
}

.icon.delete-icon svg {
  stroke-width: 0.6px !important;
}

.editing-btns {
  text-align: left;
  max-width: 100% !important;
  margin: 20px 0px !important;
}

.editing-btn {
  margin-left: 1%;
  font-size: 1.2em !important;
  border: 1px solid #707070 !important;
}

.editing-btn:hover {
  background-color: #edf0f6 !important;
}

.save-btn {
  background-color: #0f996d !important;
  transition: background-color 0.3s ease-out;
}

.save-btn:hover {
  color: #0f996d !important;
  border-color: #0f996d !important;
}

.delete-btn {
  background-color: #cb0000 !important;
}

.delete-btn:hover {
  color: #cb0000 !important;
  border-color: #cb0000 !important;
}

.cancel-btn {
  background-color: #2f3944 !important;
}

.cancel-btn:hover {
  color: #2f3944 !important;
  border-color: #2f3944 !important;
}

.delete-course {
  font-size: 1.7em !important;
  line-height: 1.3em !important;
  margin-left: 40px;
  background: none;
}

.delete-course:hover {
  transform: scale(1.25);
}

.edit-study-type {
  background-color: #bfc4ce !important;
  transition: all 0.4s ease-in-out;
}

.study-types-view .no-items {
  margin-top: 45px;
  text-align: center;
}
