/* .addStudent{
    font-family: 'Markazi Text', serif;
} */

.addStudent .header{
    padding: 20px;
    background: #2f3944 !important;
    color: #ece8e1;
    font-size: 55px;
    border-radius: 1rem 1rem 0rem 0rem;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s linear;
}
.addStudent .header p{
    margin-top: 16px;
}
.addStudent .main{
    padding: 20px;
    background-color: #fff;
    border-radius: 0rem 0rem 1rem 1rem;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s linear;
}
/* .addStudent .main:hover,
.addStudent .header:hover{
    box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
} */
.addStudent .main .form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #bebdbc 2px;
    border-radius: 0;
}
.addStudent .main .form-control:focus{
    border-radius: 0.25rem;
    border: none;
    background-color: #edf0f6;
}
.addStudent .main .form-label{
    font-size: 1.2rem;
}
.addStudent .regBtn{
    background: #2f3944;
    color: #ece8e1;
    padding: 5px 50px;
    border-radius: 2rem;
    font-size: 30px;

}

/*start of Responsive*/
/*@media (max-height: 695px){
    .addStudent .main{
        padding: 5px 20px
    }
    .addStudent .regBtn{
        padding: 5px 50px;
        font-size: 25px;
        margin-top: -10px;
        margin-bottom: -10px;
    }
}*/

@media (max-width:992px){
    .addStudent .header,
    .addStudent .main{
        max-width: 90%;
    }
}

@media (max-width:360px){
    .addStudent .header{
        font-size: 40px;
    }

    .addStudent .header,
    .addStudent .main{
        max-width: 100%;
    }

    .addStudent .main .form{
        margin: 0 !important;
    }

    .addStudent .regBtn{
        font-size: 25px;
    }
}
/*End of Responsive*/
