.view-students {
  text-align: right;
  margin: 0 150px;
}

.view-students .main-form .header {
  background-color: #2f3944;
  margin: 30px auto 50px;
  padding: 8px 50px 4px;
  text-align: center;
  border-radius: 10px;
  max-width: fit-content;
  color: #ece8e1;
}

.view-students .main-form .no-items,
.no-items {
  margin: 45px;
  text-align: center;
}

/* search & excel row start */

.view-students .main-form .row:nth-child(2) .excel-col {
  text-align: right !important;
  /* max-width: 50% !important; */
  padding: 0px;
}

.view-students .main-form .row:nth-child(2) .excel-col .excel-btn {
  background-color: #1d6f42 !important;
  border: 1px solid #707070 !important;
  font-size: 1.2em;
  margin-bottom: 5px !important;
  transition: background-color 0.3s ease-out;
}

.view-students .main-form .row:nth-child(2) .excel-col .excel-btn:hover {
  color: #1d6f42 !important;
  border-color: #1d6f42 !important;
  background-color: #edf0f6 !important;
}

.view-students
  .main-form
  .row:nth-child(2)
  .excel-col
  .excel-btn:disabled:hover {
  color: #fff !important;
  background-color: #1d6f42 !important;
}

.view-students .main-form .row:nth-child(2) .search-col {
  max-width: 27%;
  margin-bottom: 40px;
  padding: 0px;
}

.view-students .main-form .row:nth-child(2) .search-col input {
  color: #373636 !important;
  border-radius: 0px 10px 10px 0px !important;
  border: 1px solid #2f3944 !important;
  font-size: 1.1em !important;
}

.view-students .main-form .row:nth-child(2) .search-col .input-group-text {
  border-radius: 5px 0px 0px 5px;
  background-color: #2f3944;
  color: #ece8e1;
  height: 41.7px;
  margin-top: -0.5px;
}

/* search & excel row end*/

/* filter row start*/

.view-students .main-form .filter-row .col {
  max-width: fit-content;
  padding: 0px 0px 0px 10px;
  margin-bottom: 25px !important;
}

.view-students .main-form .filter-row .info {
  color: #373636 !important;
  border-radius: 10px !important;
  border: 1px solid #2f3944 !important;
  font-size: 1.1em !important;
}

.view-students .main-form .filter-row .col:last-child {
  max-width: 8%;
}

.view-students .main-form .filter-row .col:last-child .filter-btn {
  color: #ece8e1 !important;
  background-color: #2f3944 !important;
  border: 2px solid #2f3944 !important;
  font-size: 1.2em !important;
  border-radius: 10px !important;
  transition: background-color 0.3s ease-out;
  height: 35px;
  padding-top: 1px !important;
  margin-top: 3px;
  width: 100%;
  /* margin-right: 10px; */
}

.view-students .main-form .filter-row .col:last-child .filter-btn:hover {
  color: #edf0f6 !important;
  background-color: #000 !important;
}

/* filter row end */

/* labels start */
.view-students .main-form .labels-row .col {
  text-align: center;
  color: #2f3944;
  font-size: 1.4em;
  max-width: 22.6%;
  margin-top: 25px !important;
}

.view-students .main-form .labels-row .col:nth-child(1) {
  max-width: 23% !important;
}

.view-students .main-form .labels-row .col:nth-child(2) {
  max-width: 22.6% !important;
}

.view-students .main-form .labels-row .col:nth-child(3) {
  max-width: 21.6% !important;
}

.view-students .main-form .labels-row .col:nth-child(4) {
  max-width: 24% !important;
}

/* labels end */

/* student rows start */
.view-students .main-form .section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-out;
  width: 100%;
}

.view-students .main-form .section:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.view-students .main-form .section .col {
  text-align: center;
  color: #2f3944;
  font-size: 1.4em;
  max-width: 23% !important;
}

.view-students .main-form .section .section-del-btns {
  max-width: 4% !important;
  margin-left: 1%;
}

.view-students .main-form .section .section-edit-btns {
  max-width: 4% !important;
  margin-left: 0;
}

.view-students .main-form .section .section-edit-btns button,
.view-students .main-form .section .section-del-btns button {
  background-color: transparent;
  border: none;
  padding: 1.8px 0px;
}

.view-students .main-form .section .section-edit-btns button svg,
.view-students .main-form .section .section-del-btns button svg {
  font-size: 1.9em;
  stroke: black;
  transition: transform 0.2s;
}

.view-students .main-form .section .section-edit-btns button svg {
  color: #0d6dfd;
  stroke-width: 10px;
}

.view-students .main-form .section .section-del-btns button svg {
  color: #ff0000;
  stroke-width: 0.6px;
}

.view-students .main-form .section .section-edit-btns button svg:hover,
.view-students .main-form .section .section-del-btns button svg:hover {
  transform: scale(1.25);
}
/* student rows start */
