.study-types-view {
  text-align: center;
  margin: 0 100px;
}
/* Header */

.study-types-view .row .header {
  background-color: #2f3944;
  margin: 45px auto;
  padding: 25px 25px;
  text-align: center;
  border-radius: 10px;
  width: max-content !important;
  color: #ece8e1;
}

/* Header */

/* Filter n' Search */
.study-types-view .search-form .search-row div {
  margin-bottom: 15px;
}

.study-types-view .search-form .info {
  color: #373636 !important;
  border-radius: 10px !important;
  border: 1px solid #2f3944 !important;
  font-size: 1.1em !important;
}

.study-types-view .search-form div:nth-child(3) .filter-btn {
  color: #ece8e1 !important;
  background-color: #2f3944 !important;
  border: 2px solid #2f3944 !important;
  font-size: 1.2em !important;
  border-radius: 10px !important;
  transition: background-color 0.3s ease-out;
  width: 80%;
  height: 35px;
  vertical-align: middle;
  padding-top: 1px !important;
  margin-top: 3px;
  margin-right: 10px;
}

.study-types-view .search-form div:nth-child(3) .filter-btn:hover {
  color: #edf0f6 !important;
  background-color: #000 !important;
}

.study-types-view .search-form div:last-child .search-icon {
  position: absolute;
  left: 17px;
  top: 7px;
}

/* Filter n' Search */

/* excel button */

.study-types-view .excel-col {
  text-align: left !important;
  max-width: 100% !important;
  margin-bottom: 25px !important;
}

.study-types-view .excel-col .excel-btn {
  background-color: #1d6f42 !important;
  border: 1px solid #707070 !important;
  font-size: 1.2em;
  margin-bottom: 5px !important;
  transition: background-color 0.3s ease-out;
}

.study-types-view .excel-col .excel-btn:hover {
  color: #1d6f42 !important;
  border-color: #1d6f42 !important;
  background-color: #edf0f6 !important;
}

/* excel button */

/* study type */

.study-types-view .section {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.study-types-view .section:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.study-types-view .section .study-labels {
  font-size: 1.2em;
  line-height: 2.5em;
}

.study-types-view .section .study-type {
  margin: 10px 0 20px 0;
}

/* study type n' courses inputs */

.study-types-view .section .study-type .form-input,
.study-types-view .section .courses .form-input {
  background-color: #fff !important;
  color: #373636 !important;
  border-radius: 10px !important;
  border: 1px solid #8e949b !important;
  font-size: 1.1em !important;
}

.study-types-view .section .study-type .form-input:disabled,
.study-types-view .section .courses .form-input:disabled {
  background-color: #edf0f6 !important;
  border-color: #2f3944 !important;
  opacity: 1;
}

.invalid-feedback {
  font-size: 1em !important;
}
/* study type n' courses inputs */

/* Edit n' Delete */

.study-types-view .section .study-type div:nth-child(7) .view-btn {
  color: #000 !important;
  background-color: #bdbcbc !important;
  height: 35px;
  font-size: 14px !important;
  margin: 2px 4px 0 0;
  border: 1px solid #2f3944 !important;
  border-radius: 10px !important;
  transition: background-color 0.3s ease-out;
  padding-top: 5px !important;
}

.study-types-view .section .study-type div:nth-child(7) .view-btn:hover {
  color: #ece8e1 !important;
  background-color: #2f3944 !important;
  border: 1px solid #2f3944 !important;
}

.study-types-view .section .study-type div:last-child .icon,
.study-types-view .section .courses .course div:last-child .icon {
  font-size: 1.7em;
  border: none;
  line-height: 1.2em;
  background: transparent;
  transition: all 0.2s ease-out;
}

.study-types-view .section .study-type div:last-child .icon svg,
.study-types-view
  .section
  .courses
  .course
  div:last-child
  .icon.delete-icon.delete-course
  svg {
  stroke: black !important;
}

.study-types-view .section .study-type div:last-child .icon:hover,
.study-types-view .section .courses .course div:last-child .icon:hover {
  transform: scale(1.25);
}

.study-types-view .section .study-type div:last-child .icon.edit-icon {
  color: #0b58cc;
  margin-left: 4px;
}

.study-types-view .section .study-type div:last-child .icon.edit-icon svg {
  stroke-width: 10px !important;
}

.study-types-view .section .study-type div:last-child .icon.delete-icon,
.study-types-view .section .courses .course div:last-child .delete-course {
  color: #ff0000 !important;
}

.study-types-view .section .study-type div:last-child .icon.delete-icon svg,
.study-types-view
  .section
  .courses
  .course
  div:last-child
  .icon.delete-icon.delete-course
  svg {
  stroke-width: 0.6px !important;
}

/* Edit n' Delete */

/* Courses */
.study-types-view .section .courses {
  margin-right: 0px !important;
  margin-bottom: 30px;
}

.study-types-view .section .courses .course-labels {
  font-size: 1em;
}

.study-types-view .section .courses .course-labels div {
  padding-top: 12px;
}
.study-types-view .section .courses .course-labels div:last-child {
  padding-top: 0px;
}

.study-types-view .section .courses .course {
  margin-bottom: 10px;
}

.study-types-view .section .courses .course div:last-child .delete-course {
  font-size: 1.7em !important;
  line-height: 1.3em !important;
  margin-left: 40px;
  background: none;
}

.study-types-view
  .section
  .courses
  .course
  div:last-child
  .delete-course
  .delete-course:hover {
  transform: scale(1.25);
}

/* Courses */

/* Edit Study Type */

.study-types-view .edit-study-type {
  background-color: #bfc4ce !important;
  transition: all 0.4s ease-in-out;
}

/* Editing Buttons */

.study-types-view .section .add-course-btn {
  text-align: right;
  max-width: 50% !important;
  margin: 20px 0px !important;
}

.study-types-view .section .add-course-btn button {
  /* margin-right: 1%; */
  font-size: 1.2em !important;
  border: 1px solid #707070 !important;
  background-color: #0c55e8 !important;
  transition: background-color 0.3s ease-out;
}

.study-types-view .section .add-course-btn button:hover {
  background-color: #edf0f6 !important;
  color: #0c55e8 !important;
  border-color: #0c55e8 !important;
}

.study-types-view .section .row .editing-btns {
  text-align: left;
  max-width: 100% !important;
  margin: 20px 0px !important;
}

.study-types-view .section .row .editing-btns .editing-btn {
  margin-left: 1%;
  font-size: 1.2em !important;
  border: 1px solid #707070 !important;
}

.study-types-view .section .row .editing-btns .editing-btn:hover {
  background-color: #edf0f6 !important;
}

.study-types-view .section .row .editing-btns .save-btn {
  background-color: #0f996d !important;
  transition: background-color 0.3s ease-out;
}

.study-types-view .section .row .editing-btns .save-btn:hover {
  color: #0f996d !important;
  border-color: #0f996d !important;
}

.study-types-view .section .row .editing-btns .save-btn:disabled:hover {
  background-color: #0f996d;
  color: #fff;
}

.study-types-view .section .row .editing-btns .delete-btn {
  background-color: #cb0000 !important;
}

.study-types-view .section .row .editing-btns .delete-btn:hover {
  color: #cb0000 !important;
  border-color: #cb0000 !important;
}

.study-types-view .section .row .editing-btns .cancel-btn {
  background-color: #2f3944 !important;
}

.study-types-view .section .row .editing-btns .cancel-btn:hover {
  color: #2f3944 !important;
  border-color: #2f3944 !important;
}

/* Editing Buttons */

/* Edit Study Type */

/* NO ITEMS */

.study-types-view .no-items,
.no-items {
  margin-top: 45px;
  text-align: center;
}

/* NO ITEMS */
