@font-face {
    font-family: 'Markazi Text';
    src: url('MarkaziText-SemiBold.woff2') format('woff2'),
        url('MarkaziText-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

