/* .studyType{
    font-family: 'Markazi Text', serif;
} */

.studyType .header {
  padding: 20px;
  background: #2f3944 !important;
  color: #ece8e1;
  font-size: 45px;
  border-radius: 1rem 1rem 0rem 0rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s linear;
}
.studyType .header p {
  margin-top: 16px;
}

.studyType .main {
  padding: 20px 5px;
  background-color: #fff;
  border-radius: 0rem 0rem 1rem 1rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s linear;
}

.studyType .main .subject .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #bebdbc 2px;
  border-radius: 0;
}
.studyType .main .subject .form-control:focus {
  border-radius: 0.25rem;
  border: none;
  background-color: #edf0f6;
}
.studyType .main .form-label {
  font-size: 1.2rem;
}

.studyType .regBtn {
  background: #2f3944;
  color: #ece8e1;
  padding: 5px 50px;
  border-radius: 10px;
  font-size: 30px;
  margin-bottom: -35px;
}

.studyType .addCourse {
  font-size: 20px;
  color: black;
  background-color: #a5a4a4;
  border-color: #707070;
  border-radius: 10px;
  margin-bottom: 10px;
}

.studyType .custom-select {
  border-radius: 10px;
}

.studyType .main .courses {
  margin: 20px 32px 15px 10px;
}
.studyType .main .courses .invalid-feedback {
  margin-right: 12px;
}
.studyType .main .courses .form-control {
  border: solid #8e949b 1px;
  border-radius: 10px;
}

.studyType .main .courses .course .col-md-6,
.studyType .main .courses .course .col-md-2 {
  padding: 0;
  padding-left: 10px;
}

.studyType .main .courses button svg {
  font-size: 35px;
  color: #ff0000;
  stroke-width: 0.6px;
  stroke: black;
  transition: transform 0.2s;
}
.studyType .main .course button svg:hover {
  transform: scale(1.25);
}
.studyType .main .courses button {
  background-color: transparent;
  border: none;
  padding: 0;
}

/*start of Responsive*/
/*@media (max-height: 695px){
    .studyType .main{
        padding: 5px 20px
    }
    .studyType .regBtn{
        padding: 5px 50px;
        font-size: 25px;
        margin-top: -10px;
        margin-bottom: -10px;
    }
}*/

@media (max-width: 992px) {
  .studyType .header,
  .studyType .main {
    max-width: 90%;
  }
  .studyType .main {
    padding: 20px;
  }
  .studyType .main .courses .invalid-feedback {
    margin-right: 0px;
  }
}
@media (max-width: 768px) {
  .studyType .main .course {
    border-bottom: 2px solid #5a6268;
    border-bottom-width: thin;
  }
  .studyType .main .course:last-child {
    border-bottom: 0px;
  }
  .studyType .main .courses .deleteBtn {
    margin-bottom: 7px;
  }
}
@media (max-width: 425px) {
  .studyType .header {
    font-size: 37px;
  }
}
@media (max-width: 375px) {
  .studyType .main {
    padding: 20px 10px;
  }

  .studyType .header,
  .studyType .main {
    max-width: 100%;
  }

  .studyType .main .form {
    margin: 0 !important;
  }

  .studyType .regBtn {
    font-size: 25px;
    margin-bottom: 0px;
  }
}
/*End of Responsive*/
