html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'MarkaziText-SemiBold', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edf0f6 !important;
}

@font-face {
  font-family: 'MarkaziText-SemiBold';
  src: url('./Fonts/MarkaziText-SemiBold.woff2') format('woff2'),
    url('./Fonts/MarkaziText-SemiBold.woff') format('woff'),
    url('./Fonts/MarkaziText-SemiBold.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
